<link rel="stylesheet" href="/css/homeStyle.css">
<main>
    <div id="square"></div>
    <div id="bg">
        <img src="/img/cblol.png" alt="CBLOL">
        <div id="center">
            <div id="title">CBLOL SIMULATOR</div>
            <a href="http://localhost:8081/rota_players/players"><button>Começar</button></a>
        </div>
    </div>
    <div id="square2"></div>
</main>